---
# vi: ft=yaml

ecmaFeatures:
  jsx: true
  modules: true

env:
  node: true
  es6: true

rules:
  comma-dangle: 0
  comma-spacing: 0
  curly: [1, "multi"]
  indent: [1, 2]
  semi: 0
  quotes: 0
  brace-style: [1, "1tbs"]
  func-style: [1, "declaration"]
  key-spacing: 1,
  no-floating-decimal: 1
  no-nested-ternary: 1
  no-trailing-spaces: 1
  no-undefined: 2
  no-underscore-dangle: 0
  no-unused-vars: 1
  no-use-before-define: [1, "nofunc"]
  space-after-keywords: [1, "always"]
  space-before-blocks: 1
  space-unary-ops: 0
  strict: [1, "global"]
  valid-jsdoc: [2, { prefer: { "return": "returns"}}]

